<div style="margin-top:150px;"></div>
<div class="center-container-column">
  <div>
        <h1 class="header-left">SQL Projects</h1>
    <mat-tab-group style="min-height: 300px; max-width: 668px;">
      <mat-tab label="Invoicing Database">
        <div style="margin-top: 20px;"></div>
        <h1 class="header-left">Invoicing Database</h1>
        <p>
          This project was created to generate invoices for a business and keep track of customer payments. A
          relational database is used to keep track of Customers, invoices, and products.
        </p>
        <div class="basic-grid">
            <img class="border img-medium-responsive" src="../../assets/Images/sql-projects/sql-projects-invoice/Access Example.jpg" alt="Original picture">
            <img class="border img-medium-responsive" src="../../assets/Images/sql-projects/sql-projects-invoice/Access-form.jpg" alt="Blured picture">
            <img class="border img-medium-responsive" src="../../assets/Images/sql-projects/sql-projects-invoice/Access-Relationships.jpg" alt="Blured picture">
        </div>
        <div style="margin-bottom: 20px;"></div>

      </mat-tab>
      <mat-tab label="Houses">
        <div style="margin-top: 20px;"></div>
        <h1 class="header-left">Houses</h1>
        <p>
          <a add target="_blank" href="https://cs50.harvard.edu/x/2020/psets/7/houses/#:~:text=Implement%20a%20program%20to%20import%20student%20data%20into%20a%20database,%20and%20then%20produce%20class%20rosters.$%20python%20import.py%20characters.csv$%20python%20roster.py%20GryffindorLavender%20Brown,%20born%201979Colin%20Creevey,%20born%201981Seamus%20Finnigan,%20born%201979Hermione%20Jean%20Granger,%20born%201979Neville%20Longbottom,%20born%201980Parvati%20Patil,%20born%201979Harry%20James%20Potter,%20born%201980Dean%20Thomas,%20born%201980">Houses</a>
          is a python program that imports Student data into an SQL database and returns every student's name and year of birth in the database.
        </p>
        <div class="basic-grid" style="margin-bottom: 10px;">
          <img class="border img-medium-responsive" src="../../assets/Images/sql-projects/sql-projects-houses/SQL-houses.jpg" alt="sql">
      </div>
        <mat-accordion>
          <mat-expansion-panel style="max-width: 800px;" class="source-code-large" (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                import.py source code
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre style="font-size: 1rem; overflow: auto;">
              {{'
              from cs50 import SQL
              import csv
              import sys

            def main():


              if len(sys.argv) != 2:
                      print("Usage: python import.py characters.csv")
                      sys.exit(1)

              #Open Characters.csv
              with open(sys.argv[1], "r") as csvfile:
                      reader = csv.reader(csvfile)
                      reader = list(reader)

              insert_into_db(reader)

            def insert_into_db(csv):
              #Name Array
              Name = []

              #Split names by spaces
              for row in range(0,len(csv), 1):
                  Name.append(csv[row][0].split(" "))


              #lists to hold student innformation
              First_Name = []
              Middle_Name = []
              Last_Name = []
              House = []
              Birth = []

              #create var for csv columns
              for row in range(1, len(Name), 1):
                  if len(Name[row]) == 2:
                      First_Name.append(Name[row][0])
                      Middle_Name.append(None)
                      Last_Name.append(Name[row][1])
                  else:
                      First_Name.append(Name[row][0])
                      Middle_Name.append(Name[row][1])
                      Last_Name.append(Name[row][2])
                  House.append(csv[row][1])
                  Birth.append(csv[row][2])

              #Setup Database Connection
              db = SQL("sqlite:///students.db")

              #Insert students into database
              for row in range(0,len(First_Name),1):
                  db.execute("INSERT INTO students (first, middle, last, house, birth) VALUES(?, ?, ?, ?, ?)",
                  First_Name[row], Middle_Name[row], Last_Name[row], House[row], Birth[row])

            main()
                        '}}              </pre>
          </mat-expansion-panel>
          <mat-expansion-panel style="max-width: 800px;" class="source-code-large" (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                roster.py source code
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre style="font-size: 1rem; overflow: auto;">
              {{'
  from cs50 import SQL
  import sys
  import sqlite3

  #usage check
  if len(sys.argv) != 2:
      print("Usage: python roster.py house")
      sys.exit(1)

  #connect students.db
  db = sqlite3.connect("students.db")

  crusor = db.cursor()

  #execute query
  crusor.execute("SELECT first, middle, last, birth FROM students WHERE house =:argv ORDER BY last, first", {"argv": sys.argv[1]})

  records = crusor.fetchall()

  #Print rows and columns
  for row in records:
      if row[1] == None:
          print (row[0]," ", row[2],", born ",row[3], sep = "")
      else:
          print (row[0], " ", row[1], " ", row[2],", born ",row[3], sep = "")

  #Source https://docs.python.org/2/library/sqlite3#:~:text=The%20sqlite3%20module%20supports%20two,named%20placeholders%20(named%20style).&text=execute()%20will%20only%20execute,it%20will%20raise%20a%20Warning.

              '}}              </pre>
          </mat-expansion-panel>
        </mat-accordion>
        <div style="margin-bottom: 20px;"></div>
      </mat-tab>
      <mat-tab label="Movies">
        <div style="margin-top: 20px;"></div>
        <h1 class="header-left">Movies</h1>
        <p>
          The <a add target="_blank" href="https://cs50.harvard.edu/x/2020/psets/7/movies/#:~:text=rite%20SQL%20queries%20to%20answer%20questions%20about%20a%20database%20of%20movies.">Movies</a>
          problem set required SQL queries that answered questions relating to <a add target="_blank" href="https://www.imdb.com/">IMDB</a> movies, actors and directors.
        </p>
        <img class="border img-large-responsive" src="../../assets/Images/sql-projects/sql-projects-movies/sql-movies.jpg" alt="sql database">
        <mat-accordion>
          <mat-expansion-panel class="source-code-large-flex" (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                List the titles of all movies released in 2008
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre style="font-size: 1rem; overflow: auto;">
              {{'
              SELECT title
              FROM movies
              WHERE year = 2008;
              '}}              </pre>
          </mat-expansion-panel>
          <mat-expansion-panel class="source-code-large-flex" (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Determine the birth year of Emma Stone
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre style="font-size: 1rem; overflow: auto;">
              {{'
              SELECT birth
              FROM people
              WHERE name = "Emma Stone";
              '}}              </pre>
          </mat-expansion-panel>
          <mat-expansion-panel class="source-code-large-flex" (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                List the titles of all movies with a release date on or after 2018, in alphabetical order
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre style="font-size: 1rem; overflow: auto;">
              {{'
              SELECT title
              FROM movies
              WHERE 2018 <= year
              ORDER BY title;
              '}}              </pre>
          </mat-expansion-panel>
          <mat-expansion-panel class="source-code-large-flex" (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Determine the number of movies with an IMDb rating of 10.0
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre style="font-size: 1rem; overflow: auto;">
              {{'
              SELECT count(rating) as "Number of movies with a rating of 10"
              FROM ratings
              WHERE rating = 10.0;
              '}}              </pre>
          </mat-expansion-panel>
          <mat-expansion-panel class="source-code-large-flex" (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                list the titles and release years of all Harry Potter movies, in chronological order
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre style="font-size: 1rem; overflow: auto;">
              {{"
              SELECT title, year
              FROM movies
              WHERE title LIKE 'Harry Potter%'
              ORDER BY year;
              "}}              </pre>
          </mat-expansion-panel>
          <mat-expansion-panel class="source-code-large-flex" (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                List all movies released in 2010 and their ratings, ordered by rating. For movies with the same rating, order them alphabetically by title
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre style="font-size: 1rem; overflow: auto;">
              {{'
              SELECT title, rating
              FROM ratings
              JOIN movies ON ratings.movie_id = movies.id
              WHERE year = 2010 and ratings.movie_id > 0
              ORDER BY rating DESC, title;
              '}}              </pre>
          </mat-expansion-panel>
          <mat-expansion-panel class="source-code-large-flex" (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                List the names of all people who starred in Toy Story
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre style="font-size: 1rem; overflow: auto;">
              {{'
              SELECT people.name AS "Star Names"
              FROM people
              JOIN stars ON stars.person_id = people.id
              JOIN movies ON movies.id = stars.movie_id
              WHERE title = "Toy Story";
              '}}              </pre>
          </mat-expansion-panel>
          <mat-expansion-panel class="source-code-large-flex" (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                List the names of all people who starred in a movie released in 2004, ordered by birth year
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre style="font-size: 1rem; overflow: auto;">
              {{'
              SELECT name AS "Stars in 2004 movies"
              FROM people
              JOIN stars ON stars.person_id = people.id
              JOIN movies ON stars.movie_id = movies.id
              WHERE movies.year = 2004
              GROUP BY stars.person_id
              ORDER BY birth;

              '}}              </pre>
          </mat-expansion-panel>
          <mat-expansion-panel class="source-code-large-flex" (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                List the names of all people who have directed a movie that received a rating of at least 9.0
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre style="font-size: 1rem; overflow: auto;">
              {{'
              SELECT name as "Directors that have directed a movie with a 9 rating or higher"
              FROM people
              JOIN directors ON people.id = directors.person_id
              JOIN movies ON movies.id = directors.movie_id
              JOIN ratings ON ratings.movie_id = movies.id
              WHERE rating >= 9.0
              GROUP BY directors.person_id;

              '}}              </pre>
          </mat-expansion-panel>
          <mat-expansion-panel class="source-code-large-flex" (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                List the titles of the five highest rated movies (in order) that Chadwick Boseman starred in, starting with the highest rated
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre style="font-size: 1rem; overflow: auto;">
              {{'
  SELECT title
  FROM movies
  JOIN stars ON movies.id = stars.movie_id
  JOIN ratings ON ratings.movie_id = movies.id
  JOIN people ON people.id = stars.person_id
  WHERE people.name = "Chadwick Boseman"
  ORDER BY ratings.rating DESC
  LIMIT 5;

              '}}              </pre>
          </mat-expansion-panel>
          <mat-expansion-panel class="source-code-large-flex" (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                List the titles of all movies in which both Johnny Depp and Helena Bonham Carter starred
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre style="font-size: 1rem; overflow: auto;">
              {{'
  SELECT title
  FROM movies
  JOIN stars ON stars.movie_id = movies.id
  JOIN people ON people.id = stars.person_id
  WHERE people.name IN ("Johnny Depp", "Helena Bonham Carter")
  GROUP BY title
  HAVING count(people.name) = 2;
              '}}              </pre>
          </mat-expansion-panel>
          <mat-expansion-panel class="source-code-large-flex" (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                List the names of all people who starred in a movie in which Kevin Bacon also starred
              </mat-panel-title>
            </mat-expansion-panel-header>
            <pre style="font-size: 1rem; overflow: auto;">
              {{'
  SELECT name
  FROM people
  JOIN stars ON stars.person_id = people.id
  JOIN movies ON stars.movie_id = movies.id
  WHERE movie_id IN
  (
      SELECT movie_id
      FROM stars
      JOIN people ON stars.person_id = people.id
      WHERE people.name = "Kevin Bacon" AND people.birth = 1958
  )
  AND NOT people.name = "Kevin Bacon"
  GROUP BY stars.person_id;            '}}</pre>
          </mat-expansion-panel>
        </mat-accordion>
        <div style="margin-bottom: 20px;"></div>
      </mat-tab>
      <mat-tab label="Finance">
        <div style="margin-top: 20px;"></div>
        <h1 class="header-left">Finance</h1>

          <div class="basic-grid">
            <img class="border img-medium-responsive card" src="../../assets/Images/sql-projects/sql-projects-finance/finance-history.jpg" alt="Original picture">
            <img class="border img-medium-responsive card" src="../../assets/Images/sql-projects/sql-projects-finance/finance-register.jpg" alt="Blured picture">
            <img class="border img-medium-responsive card" src="../../assets/Images/sql-projects/sql-projects-finance/finance-index.jpg" alt="Blured picture">
          </div>
          <div style="margin-bottom: 10px;"></div>
          <p>
            <a target="_blank" href="https://cs50.harvard.edu/x/2020/tracks/web/finance/">Finance</a>
            is a python application it allows users to register an account and login. The application is connected to a SQL database,
            that stores usernames and passwords (in the form of a hash for security reasons). The purpose of this application is to allow
            users to lookup stock prices, buy and sell stocks. The SQL database stores the users purchases and sales. It keeps track of
            the stocks the user currently holds along with their cash balance.
          </p>
          <h2>The finance problem set required:</h2>
          <ul>
            <li>A register page for users that connects to a SQL database and inserts user information into the database.</li>
            <li>A quote page for users that are logged in to find the current price of a stock symbol.</li>
            <li>
              A buy page for users to buy stocks if the user had enough money in their account and the user didn't enter a
              negative number of units in the form; if these conditions are met then the SQL database will be updated,
              if not the application returns an apology message.
            </li>
            <li>
              An index page which shows the logged in user's Cash Balance and the value of the stocks they currently own.
              This information is extracted from the SQL database.
            </li>
            <li>
              A sell page for users to sell stocks if they own an amount less than or equal to the units they want to sell;
              if these conditions are met the SQL database, if not the application returns an apology message.
            </li>
            <li>
              A history page which shows all of the users transaction history including timestamp of when the event happened.
            </li>
            <li>
              A personal touch for this project I chose to allow the user to deposit more cash into their account which updates
              their cash in the SQL database.
            </li>
          </ul>
        <div style="margin-bottom: 20px;"></div>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
