<div style="margin-bottom: 150px;"></div>
<div class="container container-center">
  <div>
    <h1>C Projects</h1>
    <app-c-projects-nav></app-c-projects-nav>

    <h2 class="header2-left">Speller</h2>
    <div class="description">
      <figure>
        <img class="border img-medium-responsive" src="../../../assets/Images/cprojects-speller/c-speller.jpg" alt="Credit picture">
        <figcaption class="caption" style="max-width: 700px;">
          <a target="_blank" href="https://cs50.harvard.edu/x/2020/psets/5/speller/">Speller</a> is a program that spellchecks a text file using a dictionary that the user gives to the program.
          The dictionary is stored in a hash table each word in the dictionary is run through a hash function which
          determines the words index in the hash table. If a word already exists at that index, then a linked list is created,
          and the word is added to that linked list. A hash table speeds up the search process instead of searching the entire
          array linearly. The hash function can jump to the index location where the word will be if it exists in the dictionary.
        </figcaption>
      </figure>
      <mat-accordion>
        <mat-expansion-panel class="source-code" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Source Code
            </mat-panel-title>
          </mat-expansion-panel-header>
          <pre style="font-size: 1rem; overflow: auto;">
            {{"
            &#35;include &#60;stdio.h&#62;
            &#35;include &#60;dictionary.h&#62;


            //my additions
            &#35;include &#60;stdio.h&#62;
            &#35;include &#60;string.h&#62;
            &#35;include &#60;stdlib.h.h&#62;
            &#35;include &#60;ctype.h&#62;
            &#35;include &#60;math.h&#62;


            // Represents a node in a hash table
            typedef struct node
            {
                char word[LENGTH + 1];
                struct node *next;
            }
            node;

            // Number of buckets in hash table
            const unsigned int N = 76480;

            // Hash table
            node *table[N];

            // Returns true if word is in dictionary else false
            bool check(const char *word)
            {
                //input  word
                char lc_word[LENGTH + 1];

                int i = 0;

                //convert input word to lower case
                while (word[i] != '\0')
                {
                  lc_word[i] = tolower(word[i]);
                  i++;
                }

                //add '\0' to string
                lc_word[i] = '\0';

                //code word
                unsigned int code = hash(lc_word);

                //trav points to table code index
                node* trav = table[code];

                //dictionary word
                char* dic_word = trav -> word;

                //check var
                int check;

                //string compare
                while (dic_word != NULL  && trav != NULL)
                {
                    // if node is not null
                    if (trav != NULL)
                    {
                        // dic_word equals node word
                        dic_word = trav -> word;
                        check = strcmp(dic_word, lc_word);

                        //if there is a match return true
                        if (check == 0)
                        {
                            return true;
                        }
                    }
                    else if (trav == NULL)
                    {
                        return false;
                    }

                    // next index in linked list
                    trav = trav -> next;
                }

              return false;
            }

            // Hashes word to a number
            unsigned int hash(const char *word)
            {
                unsigned int length = strlen(word);
                unsigned long hash_value = 0;

                for (int i = 0, p = 31; i < length; i++)
                {
                    hash_value += word[i];
                    hash_value = hash_value * p;
                }

                hash_value = hash_value % N;
                return hash_value;
                //https://www.youtube.com/watch?v=jtMwp0FqEcg&ab_channel=RobEdwards
            }

            // Loads dictionary into memory, returning true if successful else false
            bool load(const char *dictionary)
            {
                //head of list
                node* head = NULL;

                //temp node
                node* new_node = NULL;

                //fopen to read
                FILE* f = fopen(dictionary,'r');

                if (f == NULL)
                {
                    return 1;
                }

                //index for word count
                int index = 0;

                //code
                unsigned int code = 0;

                //var for value of getc
                int c = 0;

                //while c is not EOF
                while(c != EOF)
                {
                    //reset index
                    index = 0;
                    //get word

                    while((c = getc(f)) != EOF && c != '\n')
                    {
                      //if start of new word create a new space in memory
                      if (index == 0)
                      {
                          //creat space for new node
                          new_node = calloc(1,sizeof(*new_node));

                          //check
                          if (new_node == NULL)
                          {
                              return false;
                          }
                      }
                      //if c is valid char
                      if (isalpha(c) || c == '\'')
                      {
                          //add letter to new_node
                          new_node -> word[index] = c;

                          //increase index by one
                          index++;
                      }
                    }

                    // if new node does not equal NULL
                    if (new_node != NULL)
                    {
                        //table[hash(word)] -> word = word;
                        code = hash(new_node -> word);


                        //if table[code] is null
                        if (table[code] == NULL && new_node -> word[0] != '\0')
                        {
                            //head points to where new node is pointing
                            head = new_node;

                            //table[code] next attach to node
                            table[code] = head;

                            new_node = NULL;

                        }
                        else if (table[code] != NULL && new_node -> word[0] != '\0')
                        {
                            //table -> next points to new_node
                            head = table[code];

                            table[code] = new_node;

                            //new_node points to head
                            table[code] -> next = head;

                            //new_node is now head
                            head = new_node;

                            //new_node points to nothing
                            new_node = NULL;
                            // idea from https://www.youtube.com/watch?v=V1L2mIZePR4&t=403s&ab_channel=LetoIIAtreides
                        }
                        else
                        {
                            free(new_node);
                        }
                      }
                  }
                  //close file
                  fclose(f);

                  //if EOF return true else return FALSE

                  return true;
                  }
                  // Returns number of words in dictionary if loaded else 0 if not yet loaded
                  unsigned int size(void)
                  {

                  node* current = NULL;
                  int count = 0;
                  int index = 0;

                  //current equals start of hash table
                  current = table[0];

                  //iterate over hash table
                  while (index != N)
                  {
                      while (current != NULL)
                      {
                          current = current -> next;
                          count++;
                      }

                      current = NULL;
                      index++;
                      current = table[index];
                  }

                  if (0 < count)
                      {
                          return count;
                      }
                      else
                      {
                          return 0;
                      }

                  }
                  // Unloads dictionary from memory, returning true if successful else false
                  bool unload(void)
                  {
                      node* temp = NULL;
                      node* crawler = NULL;

                      //for loop through all the table indexes
                      for (int i = 0; i  &#60;N; i++)
                      {
                          if (table[i] != NULL)
                          {
                            crawler = table[i];

                            while (crawler != NULL)
                            {
                                temp = crawler -> next;
                                free(crawler);
                                crawler = temp;
                            }
                            temp = crawler;
                            free(temp);
                          }
                      }

                      return true;
                  }
                  //source https://stackoverflow.com/questions/31336535/fastest-method-for-freeing-up-memory-allocated-to-a-hash-table-in-c


             "}}</pre>
        </mat-expansion-panel>
      </mat-accordion>
    </div>


  </div>
  <div style="margin-bottom: 20px;"></div>
</div>
