<div class="nav-spacer"></div>

  <div class="basic-grid">
    <div class="container-center">
      <h1 class="heading-center">Overview</h1>
      <p>
        My name is Daniel Albert I'm an aspiring developer and data analyist.
        I'm interested in data manipulation and problem solving.
      </p>
      <p>
        The programming languages I have used include:
      </p>
      <img class="logos" src="../../assets/Images/language-logos/Access Logo.png" alt="Microsoft Access">
      <img class="logos" src="../../assets/Images/language-logos/C logo.png" alt="C Language">
      <img class="logos" src="../../assets/Images/language-logos/Python Logo.png" alt="Python">
      <img class="logos" src="../../assets/Images/language-logos/R_logo.png" alt="R Language">
    </div>
  </div>

  <div class="basic-grid">
    <figure class="card">
      <img class="img border cursor-pointer" routerLink="/r-projects" routerLinkActive="active" src="../../assets/Images/overview-images/rideshare Project.jpg" alt="R Project">
    <figcaption class="caption">A shiny app used to identify profitable areas and times for rideshare drivers. This app was A shiny app used to identify profitable areas and times for made with the R programming language and leaflet.</figcaption>
    </figure>

    <figure class="card">
      <img class="img border cursor-pointer" src="../../assets/Images/overview-images/C-example-sepia.jpg" alt="C Language">
      <figcaption class="caption">A shiny app used to identify profitable areas and times for rideshare drivers. This app was A shiny app used to identify profitable areas and times for made with the R programming language and leaflet.</figcaption>
    </figure>
    <figure class="card">
      <img class="img border cursor-pointer" src="../../assets/Images/overview-images/Access Example.jpg" alt="MS Access">
      <figcaption class="caption">A shiny app used to identify profitable areas and times for rideshare drivers.A shiny app used to identify profitable areas and times for  This app was made with the R programming language and leaflet.</figcaption>
    </figure>
    <figure class="card">
      <img class="img border cursor-pointer" src="../../assets/Images/overview-images/DNA Example.png" alt="Python">
      <figcaption class="caption">A shiny app used to identify profitable areas and times for A shiny app used to identify profitable areas and times for  rideshare drivers. This app was made with the R programming language and leaflet.</figcaption>
    </figure>
  </div>
