<div style="margin-top: 125px;"></div>
<h1 class="heading-center">R Projects</h1>
<h2 style="padding-left:20px;">Rideshare project</h2>

<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.16/iframeResizer.min.js"></script>
<iframe id="myIframe" src="https://daniel-albert.shinyapps.io/Rideshare-app/?_ga=2.69919888.120105246.1665634028-703680541.1665634028" title="Rideshare-Project" height="400" style="border:none; min-width: 100%; overflow: scroll;"></iframe>
<!--source for responsive iframe https://www.cultureofinsight.com/post/responsive-iframes-for-shiny-apps -->
<div class="container-fluid" style="padding-top:20px; padding-left:20px; padding-right:20px">
<h2>Project Description</h2>
<p>This application is designed to find the most profitable location for rideshare driving. Based on a drivers previous rideshare history. It reads an excel file with trip details. The income from each trip is grouped by day, time and suburb using an aggregate function. The longatude and latitude of each suburb is found by searching a csv file for a suburb match, in order for leaflet to use for markers. The markers are coloured using a colour pallet the darker the colour the more profitable the location at that time and date.</p>
</div>
