<div id="fullstack-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>NBA Prediction Application <br> Group Project</mat-card-title>
      <mat-card-subtitle>React, Entity Framework and SQL Server</mat-card-subtitle>
    </mat-card-header>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/ltSpzfQ_b0k" title="NBA Application" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <mat-card-content>
      <p>
        A full stack application created with: React for the frontend,
        .NET for the API, Auth0 for authentication, SQL server for the database and azure piplines for CI/CD. This was a group project, collaboration was done through github. A user could login create an NBA dream team
        by adding or removing players from a team, a user was then able to compare two teams to see which team had a better win percentage.
        The source code for this project can be found here  <a target="_blank" href="https://github.com/dan933/2022-NBA-Prediction-Application">NBA Prediction Application</a>.
      </p>
    </mat-card-content>
  </mat-card>
</div>
