<div class="nav-spacer"></div>

  <div class="basic-grid">
    <div class="container-center">
      <h1 class="heading-center">Overview</h1>
      <p>
        My name is Daniel Albert I'm an aspiring developer and data analyist.
        I'm interested in data manipulation and problem solving.
      </p>
      <p>
        The programming languages I have used include:
      </p>
      <img class="logos" src="../../assets/Images/language-logos/Access Logo.png" alt="Microsoft Access">
      <img class="logos" src="../../assets/Images/language-logos/C logo.png" alt="C Language">
      <img class="logos" src="../../assets/Images/language-logos/Python Logo.png" alt="Python">
      <img class="logos" src="../../assets/Images/language-logos/R_logo.png" alt="R Language">
      <img class="logos" src="../../assets/Images/language-logos/c-sharp.png" alt="C Sharp Language">
    </div>
  </div>

  <div class="basic-grid">

    <figure class="card">
      <img class="img-medium-responsive border cursor-pointer" routerLink="/fullstack" routerLinkActive="active" src="../../assets/Images/fullstack/invoice-application/fullstack.png" alt="Invoice Application">
    <figcaption class="caption">A fullstack invoicing application using Angular, C# and Microsoft SQL Server.</figcaption>
    </figure>

    <figure class="card">
      <img class="img-medium-responsive border cursor-pointer" routerLink="/r-projects" routerLinkActive="active" src="../../assets/Images/overview-images/rideshare Project.jpg" alt="R Project">
    <figcaption class="caption">A shiny app used to identify profitable areas and times for rideshare drivers. This app was A shiny app used to identify profitable areas and times for made with the R programming language and leaflet.</figcaption>
    </figure>

    <figure class="card">
      <img class="img-medium-responsive border cursor-pointer" routerLink="/c-projects" src="../../assets/Images/overview-images/C-example-sepia.jpg" alt="C Language">
      <figcaption class="caption">A C application that takes a photo and adds a filter to the picture.</figcaption>
    </figure>
    <figure class="card">
      <img class="img-medium-responsive border cursor-pointer" routerLink="/sql-projects" src="../../assets/Images/overview-images/Access Example.jpg" alt="MS Access">
      <figcaption class="caption">A Microsoft Access application to manage a companies invoice.</figcaption>
    </figure>
    <figure class="card">
      <img class="img-medium-responsive border cursor-pointer" routerLink="/python-projects" src="../../assets/Images/overview-images/DNA Example.png" alt="Python">
      <figcaption class="caption">A python program that returns the name of a person when there is a DNA match.</figcaption>
    </figure>
  </div>
