.card{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  position: inherit;
}

.profile-pic{
  margin-top: 15px;
  margin-bottom: 15px;
  width: auto;
  max-width: 200px;
  border-radius: 50%;
}

.card-button-container{
  display: flex;
  flex-direction: column;
}

.about-me-container
{
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.basic-grid
{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  margin-bottom: 15px;
}

@media screen and (max-width: 394px) {
  .basic-grid
  {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  }

}
