<div class="nav-spacer"></div>

  <div class="basic-grid">
    <div class="container-center">
      <h1 class="heading-center">Overview</h1>
      <p style="padding: 0px 20px">
        My name is Daniel Albert I'm an aspiring full stack developer.
        I'm interested in solving problems through code.
      </p>
      <p style="padding: 0px 20px">
        The programming languages I have used include:
      </p>
      <img class="logos" src="../../assets/Images/language-logos/angular-logo.png" alt="Angular">
      <img class="logos" src="../../assets/Images/language-logos/dotnet-logo.png" alt="DotNet">
      <img class="logos" src="../../assets/Images/language-logos/React-logo.png" alt="React">
      <img class="logos" src="../../assets/Images/language-logos/Python Logo.png" alt="Python">
      <img class="logos" src="../../assets/Images/language-logos/C logo.png" alt="C Language">
      <img class="logos" src="../../assets/Images/language-logos/R_logo.png" alt="R Language">
    </div>
  </div>

  <div class="basic-grid">

    <mat-card *ngFor="let card of cards" class="card">
      <mat-card-header>
        <mat-card-title>{{card.title}}</mat-card-title>
        <mat-card-subtitle>{{card.subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <a >
        <img mat-card-image class="cursor-pointer" routerLink={{card.routeLink}} src={{card.img}} alt="Photo of a Shiba Inu">
      </a>
      <mat-card-content>
        <p>
          {{card.caption}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
