<div style="margin-top:150px;"></div>
<div class="container">
  <h1 class="header-left">C Projects</h1>
  <h2 class="header2-left">Picture Filter</h2>
  <p class="left">
    The <a target="_blank" href="https://cs50.harvard.edu/x/2020/psets/4/filter/less/">picture</a> filter project was part of Harvard's CS50 course problem set four.
    The program takes a .bmp file as an input and returns an output file with the users desired filter.
    My job in this problem set was to create the part of the program that manipulates the pixels and returns the desired filter.
  </p>
  <mat-toolbar class="sub-nav">
    <button mat-button  routerLink="/c-projects" routerLinkActive="active" class="nav-buttons">Picture Filter</button>
  </mat-toolbar>
  <mat-tab-group>
    <mat-tab label="Grayscale">
      <div style="margin-top: 20px;"></div>
      <h1 class="header-left">Grayscale</h1>
      <img class="border img-medium-responsive" src="../../../assets/Images/cprojects-picture-filters/c-example-grayscale.jpg" alt="grayscale picture">
      <P>
        To transform an image to grey the red, green and blue values in the pixel have to be the same.
        To achieve this I used a nested for loop to iterate over every pixel captured the red, green and blue values and calculated the average of that pixel.
        I then assigned that value to the red, green and blue values in that pixel.
      </P>
    </mat-tab>
    <mat-tab label="Sepia">
       Content 2
    </mat-tab>
    <mat-tab label="Reflect">
      Content 3
    </mat-tab>
    <mat-tab label="Blur">
      Content 4
    </mat-tab>
  </mat-tab-group>
</div>

