mat-nav-list{
  padding: 0px;

  .side-nav-title{
    display: inline-block;
    padding-left: 8px;
  }

  a{
    &:hover{
      background-color: lightblue;
    }
  }

  .active{
    background-color: lightblue;
  }
}


