// logo style
#logo
{
  padding-top: 100px;
  height: 170px;
  padding-right: 20px;
}

.mat-toolbar
{
  height: 170px;
  padding: 0px;
  background-color: white;
}

.nav-buttons
{
  font-size: 30px;
  width: auto;
  height: auto;
  margin: 100px;
}

#nav-bar-container
{
  margin-top: 250px;
}

.mat-menu-panel
{
  margin-left: 10px;
  width: 115px;
}

body {
  margin: 0;
}
