body
{
  margin: 0;
}

.active
{
  background-color: gray;
  color: white;
}

//center align heading
.heading-center
{
  text-align: center;
  font-size: 60px !important;
  margin:30px 0px 30px !important;
}

p
{
  font-size: 20px;
  line-height: 30px;
}

p a, figcaption a
{
  color: #007bff;
  text-decoration: none;
}

p a:hover, figcaption a:hover
{
  color: #0056b3;
  text-decoration: underline;
}



.logos
{
  height: 70px;
  width: auto;
  align-self: center;
}

.img
{
  height: 300px;
  width:  auto;
  margin: 5px;
  padding:4px;
}

.img-medium-responsive
{
  text-align: left;
  max-width: 700px;
  width: 99%;
  height: auto;
}

.img-large-responsive
{
  text-align: left;
  width: 80%;
  height: auto;
}

.cursor-pointer
{
  cursor: pointer;
}

.img-container
{
  height: auto;
  width: auto;
  text-align: left;
  color: gray;
}

.container
{
  margin-left: 15px;
  margin-right: 15px;
}

.container-center
{
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}



//grid classes
.card
{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-items:center;
}


.basic-grid
{
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}

@media screen and (max-width: 394px) {
  .basic-grid
  {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  }

}


.border
{
  border: 0.5px solid black;
  border-radius: 6px;
}

.caption
{
  width: auto;
}

//space between nav bar and router outlet
.nav-spacer
{
  margin-top:100px;
  margin-bottom: 150px;
}



#sub-nav
{
  background-color: lightgray;
  border-radius: 5px;
  width:99.5% !important;
  margin-bottom: 25px !important;
}


#sub-nav-compact-container
{
  background-color: lightgray;
  border-radius: 5px;
  margin-top:10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

@media screen and ( max-width: 594px) {
  #sub-nav
  {
    display: none;
  }
}


.sub-nav-buttons-compact
{
  border-radius: 5px !important;
  font-size: 20px;
  width: 100%;
  height: 100%;
  border-radius: 5px !important;
  text-align: left !important;
  padding-bottom: 5px !important;
}

@media screen and ( min-width: 594px) {
  #sub-nav-compact-container
  {
    display: none;
  }
}

.header-left
{
  font-size: 40px !important;
  margin-bottom: 40px !important;
  text-align: left !important;
}

.header2-left
{
  font-size: 30px !important;
  margin-bottom: 40px !important;
  text-align: left !important;
  font-weight: 400 !important;
}

.left
{
  text-align: left;
}

.source-code
{
  margin-left: 35px;
  max-width: 800px;
}

.source-code-large
{
  max-width: 1516px;
  margin-left: 35px;

}

.source-code-large-flex
{
  max-width: 1516px;
  margin-left: 35px;

}

.source-code-xlarge-flex
{
  margin-left: 35px;
}

@media screen and (max-width: 1516px) {
  .source-code-large-flex
  {
    max-width: 818px;
  }

}

.sub-nav-buttons
{
  margin-right: 4px !important;
}
