<div class="nav-spacer"></div>
<div class="container-center">
  <h1 class="heading-center">Contact</h1>
  <p>Please feel free to contact me via email or checkout my GitHub 😊</p>



  <div class="container-center">
    <a href="https://github.com/dan933?tab=repositories" target="_blank">
      <img class="cursor-pointer logo-hover logos-medium spacer-right" src="../../../assets/Images/contact-images/github.png" alt="">
    </a>
    <br>
    <a href="https://github.com/dan933?tab=repositories" target="_blank">dan933</a>
  </div>

  <div class="container-center">
    <a href="mailto:danielalbert3377@gmail.com" mali target="_blank">
      <mat-icon class="svg-medium-black"> mail_outline</mat-icon>
    </a>
    <br>
    <a href="mailto:danielalbert3377@gmail.com">danielalbert3377@gmail.com</a>
  </div>
  <div class="spacer-top"></div>
</div>
