<div class="nav-spacer"></div>
<div class="contact-container">
  <h1 class="heading-center">Contact</h1>

  <form
    ngNoForm
    class="flex-col"
    action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSc18dF3ds8TMYPu5o0nHkIRut7_KltJ4dU9DJniihW0jjbNmg/formResponse"
    method="post"
  >

  <!-- dnadistrictservices@gmail.com -->
    <input  type="email" placeholder="Email" name="entry.1888783603" class="message-box" >
    <textarea name="entry.287121295" rows="15" type="text" placeholder="enter message" class="message-box" id=""></textarea>

    <button type="submit" mat-raised-button class="submit-button">Submit</button>
  </form>

  <p>Please feel free to contact me via email or checkout my GitHub 😊</p>

  <div class="contact-icons-container">

    <div>
      <a href="https://github.com/dan933?tab=repositories" target="_blank">
        <img class="cursor-pointer logo-hover logos-medium spacer-right" src="../../../assets/Images/contact-images/github.png" alt="">
      </a>
    </div>

    <div>
      <a href="mailto:danielalbert3377@gmail.com" mali target="_blank">
        <mat-icon class="svg-medium-black"> mail_outline</mat-icon>
      </a>
    </div>
  </div>



</div>
