<div id="fullstack-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Fullstack Invoicing Application</mat-card-title>
      <mat-card-subtitle>Angular, Entity Framework and SQL Server</mat-card-subtitle>
    </mat-card-header>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/KsfIQVZoSdU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <mat-card-content>
      <p>
        A full stack invoicing application created with: Angular for the frontend,
      .NET for the API, and SQL server for the database. The user can perform CRUD
      operations on the customers and invoices.
      The data tables are paginated, can be filtered, and sorted.
      The user can download invoices in pdf format from the client.
      GST can be added and removed from the invoices.
      The source code for this project can be found here  <a target="_blank" href="https://github.com/dan933/dna-invoice-application-public">Invoice Application</a>.
      </p>
    </mat-card-content>
  </mat-card>
  </div>
