.nav{
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  width: 100%;
  height: auto;
  position: fixed;

  div{
    button{
      font-size: x-large;
    }
  }
}

.compact-nav{
  display:flex;
  background-color: white;
  align-items: center;
  column-gap: 10px;
}

.normal-nav{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  column-gap: 4px;
}

.active{
  background-color: #3f51b5 !important;
  color: white !important;
}

.nav-logo{
  margin-right: auto;
  margin-top: 5px;
  height:60px;
}

@media screen and(max-width:169px)  {
  .nav-logo{
    width: 26px;
    height: auto;
  }

}

mat-toolbar{
  background-color: white !important;

  button{
    background-color: white;
    color: black;

    &:hover{
      background-color: #3f51b5;
      color: white;
    }
  }
}
