@media only screen and (max-width: 922px) {
  #large-nav-bar {
    display: none;
  }
}

@media only screen and (min-width: 922px) {
  #compact-nav-bar {
    display: none;
  }
}

.example-container {
  width: 100vw;
  height: 100vh;
  border: 1px solid rgb(255, 255, 255);
  background-color: white;
}

.mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#compact-nav-bar
{
  height: 100px;
  position: fixed;
  z-index: 2;
}

#logo-compact
{
  padding-left: 10px;
  height: 80px;
}

// logo style
#logo
{
  margin-left: 15px;
  padding-top: 100px;
  height: 170px;
  padding-right: 20px;
}

.compact-sub-menu
{
  padding-left: 30px;
  font-size: 15px;
}

.mat-toolbar
{
  height: 100px;
  padding: 0px;
  background-color: white;
  //background-color: black;
}


.nav-buttons
{
  margin:10px !important;
  font-size: 40px;
  width: auto;
  height: 45px !important;
}

.compact-nav-buttons
{
  padding-top: 5px !important;
  font-size: 25px;
  width: 200px;
  border-radius: 0px !important;
  text-align: left !important;
}


#nav-bar-container
{
  margin-top: 250px;
  width: 100vw;
}

//submenu panel for projects
.mat-menu-panel
{
  margin-left: 10px;
  width: 155px;
}

.active {
  background-color: gray !important;
  color: white !important;
}
