@media only screen and (max-width: 922px) {
  #large-nav-bar {
    display: none;
  }
}

@media only screen and (max-width: 370px) {
  #logo-compact
  {
    max-height: 40px;
  }
}

@media only screen and (min-width: 922px) {
  #compact-nav-bar {
    display: none;
  }
}

#large-nav-bar{
  position: fixed;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}


.drawer-container {
  width: auto;
  height: auto;
  background-color: white;
}

.mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#compact-nav-bar
{
  height: auto;
  position: fixed;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#logo-compact
{
  padding-left: 10px;
  height: 80px;
}

// logo style
#logo
{
  margin-left: 15px;
  height: 80px;
  padding-right: 20px;
}



.mat-toolbar
{
  z-index: 1000;
  height: 100px;
  padding: 0px;
  background-color: white;
}


.nav-buttons
{
  margin:10px !important;
  font-size: 40px;
  width: auto;
  height: 45px !important;
}

.compact-nav-buttons
{
  padding-top: 5px !important;
  font-size: 25px !important;
  width: 200px;
  border-radius: 0px !important;
  text-align: left !important;
}

.compact-sub-menu
{
  padding-left: 30px;
  font-size: 15px;
}


#nav-bar-container
{

  display: flex;
  width: 100vw;
  justify-content: right;
}

//submenu panel for projects
.mat-menu-panel
{
  margin-left: 10px;
  width: 155px;
}

.active {
  background-color: #004efe !important;
  color: white !important;
}
