<mat-toolbar id="sub-nav">
  <button mat-button routerLink="/projects/c-projects/picture" routerLinkActive="active-sub-nav" class="sub-nav-buttons">Picture Filter</button>
  <button mat-button routerLink="/projects/c-projects/credit" routerLinkActive="active-sub-nav" class="sub-nav-buttons">Credit</button>
  <button mat-button routerLink="/projects/c-projects/substitution" routerLinkActive="active-sub-nav" class="sub-nav-buttons">substitution</button>
  <button mat-button routerLink="/projects/c-projects/recover" routerLinkActive="active-sub-nav" class="sub-nav-buttons">Recover</button>
  <button mat-button routerLink="/projects/c-projects/speller" routerLinkActive="active-sub-nav" class="sub-nav-buttons">Speller</button>
</mat-toolbar>

<mat-toolbar id="sub-nav-compact-container">
  <mat-toolbar-row>
    <button mat-button  routerLink="/projects/c-projects/picture" routerLinkActive="active-sub-nav" class="sub-nav-buttons-compact">Picture Filter</button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button  routerLink="/projects/c-projects/credit" routerLinkActive="active-sub-nav" class="sub-nav-buttons-compact">Credit</button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button  routerLink="/projects/c-projects/substitution" routerLinkActive="active-sub-nav" class="sub-nav-buttons-compact">substitution</button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button  routerLink="/projects/c-projects/recover" routerLinkActive="active-sub-nav" class="sub-nav-buttons-compact">Recover</button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button  routerLink="/projects/c-projects/speller" routerLinkActive="active-sub-nav" class="sub-nav-buttons-compact">Speller</button>
  </mat-toolbar-row>

</mat-toolbar>
